#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.page-content {
  flex: 1;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .box_container {
    grid-template-columns: 1fr;
  }
  
  .page-content {
    padding: 0.5rem 0;
  }

  .amplify-heading--1 {
    font-size: 2rem !important;
  }

  .amplify-heading--2 {
    font-size: 1.5rem !important;
  }

  .amplify-heading--3 {
    font-size: 1.17rem !important;
  }
}

/* Tablet adjustments */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .box_container {
    grid-template-columns: 1fr 1fr;
  }
}
